.summary-item 
{
    width: 100%;
    border: 1px solid #f1f1f1;
    padding: 20px 10px;
    display: flex;
    margin: 20px 0;
    position: relative;
}

.summary-item img 
{ width: 50px; }

.amount 
{
    position: absolute;
    top: 15px;
    right: 10px;
    font-weight: 700;
    font-size: 0.8rem;
}

.remove 
{
    position: absolute;
    top: 15px;
    left: 10px;
    background: #ffca40;
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 0.9rem;
    cursor: pointer;
}

.price
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    background: #fdfdfd;
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffca40;
}

@media screen and (min-width: 600px) {
    .summary-item 
    { width: 48%; }

    .amount 
    { font-size: 0.9rem; }
}

@media screen and (min-width: 1023px) {
    .summary-item
    { 
        width: 45%; 
        padding: 25px 15px;
    }
    .summary-item img 
    { width: 75px; }

    .summary-item  h5 
    { font-size: 1rem; }

    .amount 
    { font-size: 1rem; }
}

@media screen and (min-width: 1200px) {
    .summary-item 
    { width: 32%; }
}