.burger-left
{
    width: 35%;
    text-align: center;
    overflow-wrap: break-word;
}

.burger-left h5 
{ padding-top: 10px; }

.burger-right 
{
    width: 60%;
    padding: 15px 0;
    position: relative;
    margin-left: 5%;
}

.extraAccessions 
{
    font-size: 0.8rem;
    padding-top: 10px;
    color: #4e4e4e;
}

.extraAccessions img 
{ width: 25px;}

@media screen and (min-width: 1023px) {
    .extraAccessions 
    {
        padding-top: 15px;
        font-size: 0.9rem;
    }
}
