.cartWrapper 
{
    display: flex;
    flex-wrap: wrap;
}

.totalAmountClass 
{
    padding: 10px 15px;
    font-size: 1.2rem;
    position: fixed;
    right: 0px;
    top: 30px;
    text-align: center;
    background: rgb(255, 202, 64);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: rgb(80, 29, 29);
    z-index: 99999;
}

@media screen and (min-width: 767px) {
    .totalAmountClass 
    { padding: 10px 50px }
}

.emptyCart 
{
    font-size: 1.3rem;
    width: 80%;
    font-style: italic;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.emptyCart svg 
{
    color: rgb(118, 79, 72);
    padding-left: 10px;
}

.button 
{
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
    width: 100px;
    background: #ffca40;
    cursor: pointer;
    border: 2px solid #ffca40;
    transition: background 200ms ease;
}

.button:hover 
{
    background: transparent;
}