.h5 
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.p
{
    font-size: 0.87rem;
    font-style: italic;
    padding-top: 5px;
}

.extraAccessions
{
    font-size: 0.9rem;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    display: block;
}

@media screen and (min-width: 1023px) {
    .p 
    { font-size: 0.9rem; }

} 